$gray-700: #272D37;
$primary-25: #F5FAFF;
$primary-600: #437EF7;
$primary-200: #B1CCFB;
$primary-900: #2B63D9;
$base-white: #FFF;
$gray-50: #5F6D7E;
$neutral-100: #F8F9FB;
$neutral-700: #DAE0E6;
$neutral-600: #EAEBF0;