@import './mixins';
@import './reset';
@import './vars';

body {
    background-color: $base-white;
}

.header {
    @include flex(space-between, center, 0px);
    padding: 20px 112px;
    &-container1 {
        @include flex(flex-start, center, 64px);
    }
    &-container2 {
        @include flex(flex-start, center, 24px);
        .gamburger {
            display: none;
        }
    }
    &__btn {
        @include Inter(15px, 600, 22px);
        color: $primary-600;
    }
}
.nav {
    display: flex;
    &__list {
        @include flex(flex-start, flex-start, 32px);
    }
    &__link {
        @include Inter(15px, 600, 22px);
        color: $gray-700;
    }
}
.btn {
    @include flex(center, center, 6px);
    @include Inter(15px, 600, 22px);
    padding: 12px 18px;
    border-radius: 6px;
    background-color:$primary-600;
    color: $base-white;
}